@font-face {
   font-family: 'planet Estyle';
   src: url(fonts/PLANE___.TTF);
} 

@font-face {
   font-family: 'Atkinson Hyperlegible';
   src: url(fonts/Atkinson-Hyperlegible-Regular-102.ttf);
   font-style: normal
}

@font-face {
   font-family: 'Atkinson Hyperlegible';
   src: url(fonts/Atkinson-Hyperlegible-Bold-102.ttf);
   font-weight: bold;
}

@font-face {
   font-family: 'Atkinson Hyperlegible';
   src: url(fonts/Atkinson-Hyperlegible-Italic-102.ttf);
   font-style: italic;
}

h1, h2, h3 {
   font-family: 'planet Estyle';
   color: rgb(240, 89, 172)
}

* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

html {
   height: 100%;
}

body {
   background-color: #D9AFD9;
   background: linear-gradient(0deg, #97D9E1 0%,  #FFFF 30%, #FFFF 100%) fixed;
   color: rgb(51, 159, 255);
   margin: auto;
   height: 100%;
   width: 100%;
   font-size: 18px;
   font-family: 'Atkinson Hyperlegible', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.container {
   width: 80%;
   max-width: 1100px;
   margin: 0 auto;
   margin-top: 0;
   border: 4px double;
   background-color: white;
}

header {
   height: 125px;
   text-align: left;
   padding-left: 20px;
   background: url(images/header2.png);
   background-size: cover;
}
header > h1, header>h2 {
   text-shadow: 3px 3px 0px white
}

nav {
   background-color: rgb(51, 159, 255);
   color: white;
}

footer {
   background-color:rgb(51, 159, 255);
   color: white;
}

footer a, a>visited {
   color:rgb(180, 228, 233)
}

nav>ul {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   flex-flow: row;
}


li {
   display: inline-block;
}

li a {
   color: white;
   text-decoration: none;
   line-height: 2.5em;
}

li a:visited {  
   color: white;
}

li a:hover {
   color: rgb(6, 122, 255);
   background-color: white;
}

main>img {
   float:right;
}

main {
   padding: 20px;
   width: 80%;
   border-left: 3px double;
}

.flex {
   display: flex;
}

aside {
   width: 20%;
   padding: 20px;
   position: relative;
}

img.fixed {
   position: absolute;
   margin-left: auto;
   margin-right: auto; 
   left: 0;
   right: 0;
   bottom: 30px;
   text-align: center;
}

section {
   padding-top: 20px;
}

div.article {
   display: block;
   padding: 30px;
   margin-bottom: 20px;
}

div.article > img {
   width: 100px;
   height: 100px;
   border: 1px solid;
   float: left;
   margin-right: 30px;
}

p.index {
   padding: 30px;
}

.clearfix:after {
   clear: both;
   content: " ";
   display: block;
   font-size: 0;
   height: 0;
   visibility: hidden;
}
  
@media only screen and (max-width: 866px) {
   div.flex {
      flex-direction: column-reverse;
      flex-wrap: row-reverse;
   }

   main {
      border-left: none;
      margin: auto ;
   }
   
   aside {
      margin: auto;
      width:80%;
   }

   img.fixed {
      padding-top: 30px;
      position: static;
      margin: 0 auto;
      display: block;
   }

   div.container {
      width: 100%;
      max-width: 866px;
   }

   nav>ul {
      flex-flow: row;
   }
}
